* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.hero_section {
  background-image: url("images/heroSectionBackground.png");
  background-size: cover;
  background-position: center;
  color: white;
  min-height: 60vh;
}

.navbar a {
  text-decoration: none;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 12vw;
  font-size: 14px;
}

.navbar__linkmenu {
  display: flex;
  gap: 20px;
  font-size: 17px;
}

.user {
  height: 27px;
  width: 27px;
  border-radius: 100%;
  border: solid 1px;
  padding: 5px 5px;
  display: none;
}

.hero__container {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}


.hero__container_logo {
  height: 3.75rem;
}

.hero__container h1 {
  font-size: 2.15rem;
  font-weight: 250;
  text-align: center;
}

.hero__input {
  display: flex;
  gap: 20px;
  background: white;
  padding: 15px 20px;
  width: 50vw;
  border-radius: 10px;
}

.location {
  color: lightcoral;
}

.input__location {
  border: none;
  outline: none;
  padding-left: 10px;
  border-right: 2px solid #bebebe;
}

.search {
  color: gray;
  width: 50%;
}

.input__search {
  border: none;
  outline: none;
  width: 80%;
  padding-left: 10px;
}

.main {
  margin: 2rem auto;
  padding: 15px;
  width: 80%;
  display: flex;
  gap: 30px;
  min-width: 240px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.main_card {
  border: 1px solid #bebebe;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s ease;
  width: 22rem;
}

.main_card:hover {
  transform: scale(1.05);
}

.main_card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.card_content {
  padding: 10px;
}

.card_content h2 {
  font-size: 20px;
  font-weight: 400;
}

.main_card .card_content p {
  color: darkslategrey;
  font-size: 16px;
  font-weight: 100;
}

.collection {
  margin: 2rem auto;
  padding: 15px;
  width: 75%;
}

.collection h1 {
  font-size: 36px;
  font-weight: 100;
}

.collection_head {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.collection_head_link {
  text-decoration: none;
  color: lightcoral;
  font-size: 16px;
}

.collection_card {
  padding-top: 40px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  height: 320px;
  width: 16rem;
  min-width: 120px;
  border-radius: 8px;
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
}

.card_1 {
  background-image: url(images/collection1.jpg);
}
.card_2 {
  background-image: url(images/collection2.jpg);
}
.card_3 {
  background-image: url(images/collection3.jpg);
}
.card_4 {
  background-image: url(images/collection4.jpg);
}

.overlay {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: linear-gradient(transparent, black);
}

.card_content h3 {
  font-weight: 400;
}

.card_content p {
  color: white;
  bottom: 0;
  left: 0;
}

.card .card_content {
  position: absolute;
  bottom: 0;
  left: 0;
}

.localities {
  margin: 2rem auto;
  padding: 60px 15px;
  width: 75%;
}

.local_head {
  font-weight: 100;
  font-size: 36px;
}

.local_card_container {
  padding: 20px 0px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.local_card_container .local {
  width: 22rem;
  border: solid 1px #bebebe;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.local:hover {
  box-shadow: 0 0 5px #bebebe;
}

.banner {
  background-color: #fff6f2;
  padding: 60px 50px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.mobile_banner {
  width: 250px;
  height: auto;
}

.banner_info {
  width: 550px;
}

.banner_info h1 {
  font-size: 36px;
  letter-spacing: 2px;
}

.banner_info p {
  font-size: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  opacity: 0.9;
}

input[type="radio"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid grey;
  border-radius: 50%;
  background-clip: content-box;
  padding: 3px;
}

input[type="radio"]:checked {
  border: 2px solid salmon;
  background-color: salmon;
}

.selector {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  gap: 50px;
}

input[type="email"] {
  border-radius: 10px;
  height: 45px;
  font-size: 18px;
  padding: 10px;
  border: 1px solid #bebebe;
}

button[type="submit"] {
  border-radius: 10px;
  height: 45px;
  width: 150px;
  font-size: 16px;
  padding: 10px;
  border: 1px solid salmon;
  color: white;
  background-color: salmon;
}

button[type="submit"]:active{
  background-color:	#ff5f5f;
}

.email_button {
  display: flex;
  gap: 10px;
}

.img_link {
  display: flex;
  gap: 20px;
}

.img_link img {
  height: 40px;
}

.options{  
  margin: 2rem auto;
  padding: 60px 15px;
  width: 75%;
}

.options h1{  
  font-weight: 100;
  font-size: 36px;
}

.options_collection{
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  font-size: 20px;
}

.options_item{
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: space-between;
  border: 1px solid #bebebe;
  border-radius: 7px;
  padding: 20px;
}

.footer{
  background-color: #fafafa;
  padding: 50px 200px;
}

.footer_head{
  display: flex;
  justify-content: space-between;
}

.footer_head img{
  height: 30px;
}

.footer_button{ 
  border-radius: 5px;
  display: flex;
  gap: 20px;
}

.footer_button button{
  padding: 7px;
  background-color: #fafafa;
  border: 1px solid #bbbbbb;
  border-radius: 7px;
  font-size: 16px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.button i{
  height: 10px;
}

.footer_container{
  padding-top: 20px;
  padding-bottom: 30px;
  padding-right: 50px;
  display: flex;
  justify-content: space-between;
}

.link_section h1{
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 2px;
  padding-bottom: 10px;
  padding-top: 20px;
}

.link_section{
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.link_section a{
  text-decoration: none;
  font-size: 14px;
  color: #7e7e7e;
  font-weight: 100;
}

.footer_img{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer_img img{
  height: 40px;
}

.social_links { 
  display: flex;
  justify-content: space-between;
  gap: 5px;
  padding-bottom: 10px;
}

.social_links img{
  height: 20px;
  width: 20px;
}

.footer p{
  padding-top: 20px;
  font-size: 14px;
  color: #7e7e7e;
}





@media only screen and (max-width: 600px) {
  .navbar {
    padding: 20px 20px;
  }

  .user {
    display: flex;
  }

  .link {
    display: none;
  }

  .hero_section {
    min-height: 80vh;
  }

  .hero__input {
    display: flex;
    flex-direction: column;
    width: 80%;
    background: transparent;
    gap: 10px;
  }

  .location,
  .search {
    background-color: white;
    width: 100%;
    border: none;
    padding: 10px 10px;
    border-radius: 10px;
  }

  .input__location {
    border: none;
  }

}